<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs 1</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia facilis voluptatum officia id vero perferendis, ullam eum optio perspiciatis suscipit deserunt laudantium odio minima! Facilis facere laborum nulla dolores sunt.</p>
    <button>click me</button>
</body>
</html>