/* First Question */
#mainTopic{
    color: blue;
}

/* Q2 */
*{
    text-align: center;
}

/* Q3 */
h1, h2, h3, h4, h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Q4 */
.para{
    color: white;
    background-color: cornflowerblue;
}

/* Q5 */
div button{
    background-color: purple;
    color: azure;
}

/* Q6 */
button:hover{
    background-color: yellow;
    color: blue;
}

/* Q7 */
.para:nth-of-type(odd){
    color: yellow;
}

/* Q8 */
h1::first-letter{
    color: red;
}

/* Q9 */
#yes:checked+label{
    color: darkgreen;
  
}

/* Q10 */


























