<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= 11*2 %></h3>
    <h3><%= "apna paraya".toUpperCase() %></h3>
    <h3><%= ["hello", "bonjour", "ram ram"][1] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea earum rem ipsam autem, distinctio ipsum similique optio quos, id beatae corrupti, incidunt nulla! Aut possimus numquam tempora cupiditate quibusdam corrupti?</p>
    <button>click me</button>
</body>
</html>