/* Question 1 */
#box1{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: 2s ease-in 0.5s;
}
#box1:hover{
    width: 600px;
}

/* Question 2 */
#box2{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: translate(200px , 200px) rotate(90deg);
}

/* question 3  */
#box3{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    transform: skewX(20deg);
}

/* Question 4 */
#box4{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    box-shadow: 2px 2px 5px green;
}