/* Height and Width */
div{
    height: 200px;
    width: 500px;
    background-color: pink;
}

/* Border */
div{
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-top-color: blueviolet ;
    border-top-style: dashed ;
}
h1{
    border: 2px dotted green;
    border-left: 8px solid red;
}

/* Border radius */
div{
    /* border-radius: 20px ; */
    border-radius: 20px 100px;
}

/* Padding */
div{
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

button{
    border: 2px solid black;
    /* padding-left: 12px;
    padding-right: 12px; */
    padding: 10px 20px 30px 40px;
}

/* Margin */
div{
    margin-bottom: 25px;
}
