<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user </title>
</head>
<body>
    <h1>Welcome to this community</h1>
    <form action="/user/new" method="post">
        <label >
            username :
            <input type="text" placeholder="Enter username" name = "username" >
        </label>
        <br>
        <br>
        <label >
            Email :
            <input type="email" placeholder="Enter user email" name = "email" >
        </label>
        <br>
        <br>
        <label >
            Password :
            <input type="password" placeholder="Create Password" name = "password" >
        </label>
        <br>
        <br><br>
        <button>create id</button>
    </form>
</body>
</html>